<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logoManchester.png" type="image/png">
    <link rel="stylesheet" href="../static/index.module.css">
    <title>Manchester Investimentos</title>
</head>
<body>
    <main>
        <div class="contentForms">
            <section class="containerForms">
                    <div>
                        <p>Extração de Dados</p>
                        <h1>
                            Manchester Investimentos
                        </h1>
                    </div>

                    <form id="form" action="./processar" method="post" enctype="multipart/form-data">
                        
                        <input class="stylesContainerInput" type="text" id="name" name="name" placeholder="Name">

                        
                        <input class="stylesContainerInput" type="number" name="PhoneNumber" id="PhoneNumber" title="Phone Number" placeholder="Phone Number">

                        <br> <br>
                        <input class="stylesContainerInput" type="email" name="emailManchester" id="emailManchester" placeholder="Email Manchester">
                        <br>
                        <label for="fileExcel"></label>
                        <input class="" type="file" name="fileExcel" id="fileExcel" >

                        <br>
                        <input type="submit" class=".gradient-animation" id="Enviar" value="Extrair Dados">
                    </form>
                    
            </section>
        </div>

        <div class="imageBackground">

        </div>
    </main>
</body>
</html>
